<link rel="stylesheet" href="/static/style.css">

<br>
<header>
  <nav class = "nav">
    <a class = "navtxt active" href = "/">Column Names</a>
    <a class = "navtxt" href = "/data">Data</a>
    <a class = "navtxt" href = "/graph">Graph</a>
  </nav>
</header>

<h1>WELCOME TO MY GRAPHING WEBSITE</h1>
<h2>Here we make slightly boring graphs out of your boring data.</h2>

<div class = content>
  <br>
  {{"Here you can write down your column names for the data."}}
  <br>
  {{"For example: If your data is about the ages of different people, the column names will be 'Name' and 'Age'."}}
  <br>

  <form action="/" method="post">
      <p><input type="text" name="col1" placeholder="Column 1 name" required="true"></p>
      <p><input type="text" name="col2" placeholder="Column 2 name" required="true"></p>
      <p><input type="submit" value="Start inputting data!"></p>
  </form>
  <form action="/clearcol" method="post">
    <p><input type="submit" value="Clear columns"></p>
  </form>
</div>


<p class = "credit">
  A website made by <a class = "fb" href = "https://www.facebook.com/syedmasrur.ahmed.12">Syed Masrur Ahmed</a>
</p>
